<h1>Test donationtype Index</h1>

<%# donationtype.name donationtype.price %>

<div class="card">
<% @donationtypes.each do |donationtype| %>
<% @donationtypes.name %>
<% @donationtypes.price %>
<%# photo for card %>
</div>
