<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="card_container">
  <div class="card">
    <div class="card-title">
      A warm meal
    </div>
    <div class="card-price">
      £5.00
    </div>
    <div class="card-button">
    <%= link_to "Add your donation", root_path(@root), class: "btn-orange-rounded" %>
    </div>
  </div>

  <div class="card">
    <div class="card-title">
      A warm meal
    </div>
    <div class="card-price">
      £5.00
    </div>
    <div class="card-button">
    <%= link_to "Add your donation", root_path(@root), class: "btn-orange-rounded" %>
    </div>
  </div>

  <div class="card">
    <div class="card-title">
      A warm meal
    </div>
    <div class="card-price">
      £5.00
    </div>
    <div class="card-button">
    <%= link_to "Add your donation", root_path(@root), class: "btn-orange-rounded" %>
    </div>
  </div>
</div>
