.citems {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
.b-button-container {
  justify-content: center;
  padding: 5px;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  gap: 20px;
}
// .f-card {
//   margin-top: 20px;
//   background-color: #29415B;
//   padding: 5px;
//   border-radius: 25px;
// }

// .f-card-in {
//   background-color: white;
//   padding: 10px;
//   border-radius: 15px;
//   margin: 15px;
// }
.btn {
  color: white;
  width: 100%;
  margin-bottom: 20px;
  background: #F07B3F;
  border-color: #F07B3F;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  border-style: none !important;
  &:hover{
    background-color:#ed6623
  }
  &:focus{
    background-color: #ed6623;
  }
  &:active{
    background-color: #ed6623;
}
}
