.checkcont {
  padding: 15px;
  margin: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}
.checkcont .img {
  align-items: center;
}
.citems {
  display: flex;
  justify-content: space-between;
}
