.checkcont {
  padding: 15px;
  margin: 20px;
  text-align: center;
}
.checkcont .img {
  align-items: center;
}
.citems {
  display: flex;
  justify-content: space-between;
}
.a {
  text-decoration: none;
}
