.info-icon {
display: flex;
justify-content: flex-end;
position:absolute;
right:20px;
top:15px
}

.header-section {
  width: 100%;
}

.logo-center {
  display: flex;
  justify-content: center;
  height: 70px;
}
