.past-donations-card {
  margin-top: 15px;
  height: 200px;
  width: 80%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  border-radius: 10px;
  background-image: url("hot_meal_card.png");
  background-size: cover;
}
.my_profile_title {
  color: #2D4059;
}
.my_profile_button_container {
  display: flex;
  justify-content: center;
  // width: 50%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  border-radius: 10px;
  position: sticky;
}
