.navbar-gl {
  display: flex;
  justify-content: space-around;
  background: #2D4059;
  height: 80px;
}
.nav-bar-icon-images{
  height: 40px;
}
.log-in-item {
  text-decoration: none;
  color: white;
}
