.page-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding-top: 5px;
  margin: 0px;
}

/* Define a class for the body text */
.body-text {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  text-align: center;
  margin: 5px;
}
/* Define a class for the section titles */
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}
