<div class="checkcont">
  <div class = "logo-center" > <%= image_tag "THE_GIVING_LOOP.png"%></div>
  <h1 class="page-title">About The Giving Loop</h1>
  <hr>
  <p class="body-text">
    The Giving Loop is on a mission to close the feedback loop on charitable donations
  </p>
  <h2 class="section-title">Why We Exist</h2>
  <p class="body-text">
    In Q1 2022, 4.9m fewer people in the UK donated to charity compared to the same months in 2019... and here are some reasons why....
    <ul class="body-text">
    <li>people don’t donate is because they don’t believe that organisations make a positive difference</li>
    <li>people don’t donate is because they believe their donation is too small to make a difference</li>
    <li>people don’t donate is because they don’t trust philanthropic organisations</li>
    <li>We have a vision to remove these barriers through a donation model that enables you to donate TANGIBLE things and RECEIVE A NOTIFICATION once they are redeemed!</li>
    </ul>
  </p>
  <hr>
  <h2 class="section-title">The Team</h2>
  <%= image_tag "skills_session_card.png", style: "width: 300px;" %>
  <hr>
  <ul class="body-text">
    <li><strong>Louise</strong> - Lead Developer</li>
    <li>Louise has extensive experience as a full stack developer. She was named in Forbes 30 under 30 recognising her achievements in industry </li>
    <br>
    <li><strong>George</strong> - Chief Marketing Officer</li>
    <li>George has been named a leading voice in marketing strategy, having build strong brand visions for the world leading companies. He is a passionate advocate of charitable organisations and is excited to be changing the world of charitable donations with the Giving Loop.</li>
    <br>
    <li><strong>Will</strong> - Chief People Officer</li>
    <li>Will is a nobel prize winner with a subject matter expertise of  moral support. He has been critical in many world changing initiatives and plays an integral part of the giving loop</li>
    <br>
    <li><strong>Ziggy</strong> - Chief Executive Officer</li>
    <li>The development of the the giving loop would not be possible without our fearless leader Ziggy</li>
    <br>
    <li><strong>Kat</strong> - Founder</li>
    <li>The fearsome overlord of The Giving Loop, while she may have closed the feedback loop on charitable dontaions, she has ruled the company with an iron fist for over 2000 years</li>
  </ul>
</div>
