<h1 class="page-title">About The Giving Loop</h1>
<div class="checkcont">
  <hr>
  <p class="body-text">
    The Giving Loop is on a mission to close the feedback loop on charitable donations for the homeless
  </p>
  <hr>
  <h2 class="section-title">Why We Exist</h2>
  <p class="body-text">
    In Q1 2022, <strong>4.9 million</strong> fewer people in the UK donated to charity compared to the same months in 2019. We discovered a few of the reasons why...
    <ul class="body-text">
    <br>
    <li>believing that charitable organisations don't make an impactful difference</li>
    <li>believe that small donations don't make a difference</li>
    <li>reduced trust of philanthropic organisations</li>
    <br>
    <p>We have a vision to remove these barriers through a donation model that enables you to donate <strong>TANGIBLE</strong> things and <strong>RECEIVE A NOTIFICATION</strong> once they are redeemed!</p>
    </ul>
  </p>
  <hr>
  <h2 class="section-title">The Team</h2>
  <%= image_tag "giving_team.png", style: "width: 300px; border-radius: 8px;" %>
  <hr>
    <div>
      <h4><strong>Kat</strong> - Founder</h4>
      <p>The fearsome overlord of The Giving Loop. While she may have closed the feedback loop on charitable dontaions, she has ruled the company with an iron fist for over 2000 years</p>
      <br>
      <h4><strong>Louise</strong> - Lead Developer</h4>
      <p>Louise has extensive experience as a full stack developer. She was named in ;Forbes 30 Under 30' recognising her achievements in industry </p>
      <br>
      <h4><strong>George</strong> - Chief Marketing Officer</h4>
      <p>George has been named a leading voice in marketing strategy, having built strong brand visions for world leading companies. He is a passionate advocate of charitable organisations and is excited to be changing the world of charitable donations with the Giving Loop.</p>
      <br>
      <h4><strong>Will</strong> - Chief People Officer</h4>
      <p>Will is a Nobel prize winner with the subject matter expertise of moral support. He has been critical in many world changing initiatives and plays an integral part of the Giving Loop</p>
      <br>
      <h4><strong>Ziggy</strong> - Chief Executive Officer</h4>
      <p>The development of the the Giving Loop would not be possible without Commander Ziggy</p>
      <br>
    </div>
  <hr>
</div>
