// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1, h2, h3, h4, h5 {font-family: 'Merriweather Sans', sans-serif; color: #2D4059;}
p {font-family: 'Merriweather Sans', sans-serif; color: #2D4059;}
a {font-family: 'Merriweather Sans', sans-serif; color: #2D4059;}
li {font-family: 'Merriweather Sans', sans-serif;}

body {
  list-style: none;
}

.form-text {
  color: white;
  text-decoration:underline;
}

.logo-center {
  display: flex;
  justify-content: center;
  height: 70px;
  margin-top: 10px;
}

// body, h1, h2, h3, h4, h5, p {
//   font-family: 'Questrial', sans-serif;

// }
